@reset-global pc;

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#react {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f5f5f5;
}

.scheme {
    position: relative;
    background: white;
    border: 1px solid #d4d4d4;
}

.root {
    flex: 1;
    display: flex;

    &__scheme-container {
        flex: 1;
        position: relative;

        &-absolute {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }

    &__tools {
        min-width: 350px;
        display: flex;
        flex-direction: column;

        > * {
            min-height: 100%;
        }
    }
}

svg.scheme {
    -webkit-user-select: none;
    cursor: default;

    * {
        shape-rendering: crispEdges
    }
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &__title {
        background: #363636;
        color: #fff;
        border-radius: 4px 4px 0 0;
        font-size: 12px;
        padding: 4px;
        display: flex;
        justify-content: center;
        font-weight: bold;
    }

    &__body {
        background: white;
        padding: 10px;
    }

    &__row {
        display: flex;
        justify-content: center;
        margin: 10px 20px;
    }

    &__bottom {
        display: flex;
        justify-content: center;
        background: white;
        border-radius: 0 0 4px 4px;
        padding: 5px 0;
    }
}

.selection {
    position: fixed;
    width: 100px;
    height: 23px;
    border: 5px solid #c10000;
    top: 311px;
    left: 521px;
    z-index: 999999999;
    box-shadow: 0px 0px 12px #bd0000;
    border-radius: 5px;
}

.controls {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    &__position {
        position: absolute;
        display: flex;
        flex-direction: column;
    }

    &__container {
        display: flex;
        align-items: center;

        &_h-start&_v-center {transform: translateY(-50%);}
        &_h-start&_v-end {transform: translateY(-100%);}
        &_h-center {transform: translateX(-50%);}
        &_h-center&_v-center {transform: translateX(-50%) translateY(-50%);}
        &_h-center&_v-end {transform: translateX(-50%) translateY(-100%);}
        &_h-end {transform: translateX(-100%);}
        &_h-end&_v-center {transform: translateX(-100%) translateY(-50%);}
        &_h-end&_v-end {transform: translateX(-100%) translateY(-100%);}
    }

    &__panel {
        display: flex;

        &_orientation-v {
            flex-direction: column;
            align-items: center;
        }
    }

    &__border {
        position: absolute;
        border-style: solid;
        border-color:  #00d9ff;
        pointer-events: none;
        border-radius: 4px;
    }

    &__attr-highlight {
        position: absolute;
        border-style: solid;
        border-color: rgba(0, 105, 29, 0.35);
        pointer-events: none;
        border-radius: 4px;
        background: rgba(0, 150, 42, 0.35);
    }
}

.button {
    display: flex;
    outline: none;
    white-space: nowrap;
    margin: 1px;
    align-items: center;
    cursor: pointer;
    background: linear-gradient(to top, #6cb32c, #abe46b);
    border-radius: 5px;
    background: #ffd400;
    padding: 10px;
    color: rgba(0, 0, 0, 0.74);
    font-weight: bold;
    border: 1px solid #eac300;
    user-select: none;

    &_disabled {
        opacity: 0.5;
        cursor: default;
    }

    &:active:not(&_disabled) {
        background: #eec300;
    }

    .icon {
        fill: black;
        width: 20px;
        height: 20px;
    }

    &_small {
        padding: 4px;
        .icon {
            width: 16px;
            height: 16px;
        }
    }

    &_create {
        color: green;
        .icon {
            fill: green;
        }
    }

    &_warning {
        background: red;
        border: 1px solid #d10000;
        color: white;
        .icon {
            fill: white;
        }
    }
    &_warning:active:not(&_disabled) {
        background: #d90000;
    }
}

/* todo move to inline style? */
.svg-link {
    pointer-events: none;
}

.scroll {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &__body {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: auto;
    }
}

.history {
    display: flex;
    flex-direction: column;

    &__record {
        user-select: none;
        cursor: default;
        &_future {
            opacity: 0.5;
        }
        padding: 5px;
        border-bottom: 1px solid #e4e4e4;

        &_active &-title {
            font-weight: bold;
        }
        &-desc {
            font-size: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.tool-panel {
    display: flex;
    flex-direction: column;

    &__title {
        display: flex;
        align-items: center;
        background: #363636;
        color: white;
        cursor: pointer;
        padding: 2px 3px;
        align-items: center;
        border: 1px solid #363636;
    }

    &__triangle {
        font-size: 8px;
        margin-right: 3px;
    }

    &__body {
        flex-direction: column;
        display: flex;
        flex: 1;
        padding: 10px;
        background: white;
        border: 1px solid #363636;
        position: relative;
    }

    &_opened {
        flex: 1;
    }

    &:not(&_opened) &__body {
        display: none;
    }
}

.tool-panel-group {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

.field-set {
    display: table;
    margin: 5px 0;

    &__row {
        display: table-row;
    }

    &__label-cell, &__input-cell {
        display: table-cell;
        padding: 3px 2px;
    }

    &__label-cell {
        padding-left: 5px;
        text-align: right;
    }
}
