.workarea {
    margin: 20px;
    position: relative;
    width: 800px;
    height: 600px;
    background: #fcfff2;
    border: 1px solid #aaaaaa;
}

.table {
    position: absolute;
    border: 1px solid black;
    display: flex;
    flex-direction: column;

    &__name {
        font-weight: bold;
    }

    &__attrs {
        border: 1px solid black;
    }
}

svg.workarea {
    -webkit-user-select: none;
    cursor: default;

    * {
        shape-rendering: crispEdges
    }
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__body {
        background: white;
        border-radius: 4px;
        padding: 10px;
    }
}
